@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
.footer {
  background-color: #060113;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
}
.footer .openFooter {
  color: #838383;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}
.footer__flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
.footer--title {
  color: white;
}
.footer--text {
  color: #ececec;
}
.footer__col a {
  display: block;
  margin-bottom: 0.5em;
}

body {
  position: relative;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  transition: 1s ease-in-out all;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}
.modal__close {
  position: fixed;
  right: 1%;
  top: 1%;
  z-index: 3;
  font-size: 40px;
  margin: 0;
}
.modal.toggleModal {
  opacity: 1 !important;
  pointer-events: initial;
  opacity: 1;
}
.modal__content {
  opacity: 0;
  animation: animateIn 1s ease-in-out 2s 1 forwards;
  width: 100%;
  height: 100%;
  position: relative;
}
.modal__content img {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1000px;
}
.modal__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2em 3em;
  width: 80%;
  max-width: 600px;
  box-sizing: border-box;
}
.modal__text h2 {
  color: black;
  margin: 0;
}
.modal__link-container {
  display: flex;
  flex-direction: row;
}
.modal__link-container a {
  margin-right: 2em;
}
.modal--link {
  display: block;
  color: white;
}

@media (min-width: 700px) {
  .modal__text {
    background-color: rgba(255, 255, 255, 0.75);
  }
  .modal__text h2 {
    font-size: 3em;
  }
}
@media (min-width: 700px) {
  .modal__content img {
    top: 50%;
  }
}
@keyframes animateIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #161616;
}

.fixed {
  overflow: hidden;
}

.page-container {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

nav {
  color: white;
  position: fixed;
  width: 95%;
  max-width: 1300px;
  left: 50%;
  transform: translateX(-50%);
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav div:nth-child(2) {
  display: flex;
  flex-direction: row;
}
nav div:nth-child(2) a {
  color: white;
}
h1 {
  font-size: 7vw;
}

h2 {
  font-size: 6vw;
  font-weight: 500;
}

@media (min-width: 700px) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 4em;
  }
}
.hero {
  height: 100vh;
  position: relative;
  max-width: 1300px;
  width: 99vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.hero .hero-title {
  color: white;
  text-align: center;
  margin: 0;
  position: absolute;
}

@media (min-width: 1000px) {
  .adi {
    max-width: 1300px;
    width: 95vw;
    display: flex;
    flex-direction: row;
    height: 90%;
    max-height: 600px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
  }
  .adi__box {
    box-sizing: border-box;
    width: 32%;
    transition: 0.3s ease-in-out all;
    background-size: auto 100%;
    clip-path: polygon(10 0%, 100% 0, 100% 100%, 0% 100%);
    background-color: rgba(0, 0, 0, 0.1);
  }
  .adi__box h2,
.adi__box p {
    color: white;
  }
  .adi__box.full {
    width: 98%;
  }
  .adi__box.hide {
    width: 0%;
  }
  .adi__box:hover {
    transform: translateY(-5%) scale(1.05);
  }
  .adi__box:nth-child(1) {
    background-position: 0%;
  }
  .adi__box:nth-child(2) {
    background-position: 50%;
  }
  .adi__box:nth-child(3) {
    background-position: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
