

h1{
    font-size: 10vw;
    // color: white;
}
h2{
    font-size: 2.5em;
    // padding: 0% 3%;
    // color: white;
}

@media(min-width: 1000px){
    h1{
        font-size: 7em;
    }
    h2{
        font-size: 3em;
    } 
}