.footer{
    background-color: white;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2em 0;
    &__flex{
        display: flex;
        width: 100%;
        justify-content: space-between;
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
    }

    &--title{
        color: black;
    }
    &--text{
        color: $mainText;
    }

    &__col{
        a{
            display: block;
            margin-bottom: .5em;
        }
    }
}

.dark-mode{
    .footer{
        background-color: rgb(29, 29, 29);

    }

    a, p{
        color: white;
    }
}