.footer{
    margin-bottom: 10%;
    width: 97vw;
    max-width: 1400px;
    margin: 3% auto;
    text-align: center;
    h2{
        position: relative;
        margin: 0;
        padding: 0;
        // border-bottom: 1px solid black;

        &::after{
            content: "";
            width: 150px;
            height: 3px;
            background-color: black;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__icons{
        margin: 3% auto 0;
        a{
            text-decoration: none;
        }
        .ion-logo{
            color: black;
            font-size: 64px;
            margin: 0 1%;
        }
    }

    

    .contact-link{

    }
}