.footer{
    margin-bottom: 10%;
    width: 97vw;
    max-width: 1400px;
    margin: 3% auto;
    text-align: center;
    h2{
        margin: 0;
        padding: 0;
    }

    &__email{

    }
    &__icons{

    }

    

    .contact-link{

    }
}