.work-section {
  margin-bottom: 3em;
}

.work-piece {
  width: 90vw;
  max-width: 1000px;
  margin: 3em auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  
  background-color: rgb(255, 255, 255);


  h2, p{
    color: rgb(255, 255, 255);
    margin-bottom: 0;
  }
  p{
    font-size: 1em;
  }

  img{
    width: 100%;
  }

  &:hover{
    &::after{
      background-color: rgba(255, 255, 255, 0.05);
    }
    h2, p{
      // color: white;
      // text-shadow: 0px 0px 10px white;
    }
  }

  &::after{
    content: '';
    transition: .7s ease-out all;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 0;
    // transform: translate(-50%, -50%);
  }

  &__main{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media(min-width: 1000px){
  .work-piece{
    margin: 10em auto;
  }
}


//Backgrounds
