.work-section {

}

.work-piece {
  width: 97vw;
  min-height: 300px;
  max-width: 1000px;
  margin: 1em auto;
  position: relative;
  overflow: hidden;
  background-color: black;
  background-size: auto 100%;
  background-position: center;
  // clip-path: polygon(0% 0%, 100% 0, 110% 100%, 0% 100%);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(20, 20, 20);
    z-index: 0;
    opacity: 0.1;
    transition: 0.5s ease all;
    width: 100%;
    height: 100%;
  }


  &__hover-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    display: none;

    a{
      color: white;
      text-decoration: none;
    }
  }

  &.work-piece:hover {
    &::before {
      opacity: 0.8;
    }
    &__hover-content{
      opacity: 1;
    }
  }

  h2 {
    text-align: left;
    z-index: 2;
    color: white;
    transition: 0.7s ease all;
    position: absolute;
  }
  &__tech {
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    background-color: rgba(41, 41, 41, 0.4);
    opacity: 0;
    transition: 0.2s ease all;
    transform: translateY(10%);
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
  }

  img {
    display: block;
    max-width: 100%;
    position: relative;
  }
}

@media (min-width: 1000px) {
  .work-section{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0;
    justify-content: space-between;
    width: 97vw;    
    max-width: 1400px;
  

    h2{
      margin-top: 0;
    }

    .work-piece {
      width: 49%;
      margin: 1% 0;
      min-height: 500px;
      // border-radius: 25px;
    }
  }
}

@media (min-width: 1200px) {
  .work-section{
    h2{
      margin-top: 0;
    }

    .work-piece {
      width: 32%;
      margin: 1% 0;
      min-height: 500px;
    }
  }
}
.work-piece:hover {
  .work-piece__tech {
    opacity: 1;
    transform: translateY(0);
  }
  .work-piece__hover-content {
    opacity: 1;
    display: block;
    transform: translateY(0) translateX(-50%);
  }

}
.ion-logo{
    color: white;
    font-size: 32px;
}
.iconify{
  display: inline-block;
  width: 32px;
  height: 32px;
  color: white;
}

.react-project{
  background-image: url('../files/imgs/afterlife-green.jpg');
}
.parallax-project{
  background-image: url('https://riverisland.scene7.com/is/image/RiverIsland/c20200228-wk10-wlp-hero-new-arrivals_DNT?flush3&$retina$');
}
.threeD-project{
  background-image: url('https://images.unsplash.com/photo-1568197355910-4de260fb52ce');
}
